<?xml version="1.0"?>
<launch>
  <!-- arguments -->
  <arg name="map" />
  <arg name="nodelet_manager" default="slam_nodelet_manager" />
  <arg name="imu_topic" default="/gpsimu_driver/imu_data" />
  <arg name="odom_child_frame_id" default="base_link" />
  <arg name="raw_points_topic" default="/pandar_points" />
  
  
  <param name="use_sim_time" value="true"/>
  <node pkg="rviz" type="rviz" name="slam_rviz" args="-d $(find hdl_localization)/rviz/hdl_localization.rviz"/>
  
  <node pkg="tf" type="static_transform_publisher" name="lidar_frame_publisher" args="0 0 0.81 1.5707963 0 0    base_link pandar 100" />
  <node pkg="tf" type="static_transform_publisher" name="gps_frame_publisher"   args="-0.5 0 0 -1.5707963 0 0   base_link gps 100" />
  
  <include file="$(find hdl_localization)/launch/record_odom.launch">
      <arg name="map_in_world" value="$(arg map).utm"/>
      <arg name="out_file_prefix" value="$(arg map)"/>
  </include>
  
  <!-- in case you use velodyne_driver, comment out the following line -->
  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager)" args="manager" output="screen"/>
    
    <!-- prefiltering_nodelet -->
  <node pkg="nodelet" type="nodelet" name="prefiltering_nodelet" args="load hdl_graph_slam/PrefilteringNodelet $(arg nodelet_manager)">
	<param name="raw_points_topic" value="$(arg raw_points_topic)" />
	
    <!-- in case base_link_frame is blank, mapping will be performed in the lidar frame -->
    <param name="base_link_frame" value="base_link" />
    <!-- distance filter -->
    <param name="use_distance_filter" value="true" />
    <param name="distance_near_thresh" value="2" />
    <param name="distance_far_thresh" value="50.0" />
    <param name="height_thresh" value="2.0" />
    <!-- NONE, VOXELGRID, or APPROX_VOXELGRID -->
    <param name="downsample_method" value="VOXELGRID" />
    <param name="downsample_resolution" value="0.1" />
    <!-- NONE, RADIUS, or STATISTICAL -->
    <param name="use_outlier_filter" value="false"/>
    <param name="outlier_removal_method" value="RADIUS" />
    <param name="statistical_mean_k" value="30" />
    <param name="statistical_stddev" value="1.2" />
    <param name="radius_radius" value="0.5" />
    <param name="radius_min_neighbors" value="10" />
  </node>

  <!-- floor_detection_nodelet -->
  <node pkg="nodelet" type="nodelet" name="floor_detection_nodelet" args="load hdl_graph_slam/FloorDetectionNodelet $(arg nodelet_manager)">
    <param name="points_topic" value="/prefiltering/filtered_points"/>
    <param name="tilt_deg" value="0.0" />
    <param name="sensor_height" value="0.8" /> 
    <param name="height_clip_range" value="0.2" />
    <param name="floor_pts_thresh" value="256" />
    <param name="use_normal_filtering" value="true" />
    <param name="normal_filter_thresh" value="20.0" />
  </node>
  
    <!-- globalmap_server_nodelet -->
    <node pkg="nodelet" type="nodelet" name="globalmap_server_nodelet" args="load hdl_localization/GlobalmapServerNodelet $(arg nodelet_manager)">
      <!-- param name="globalmap_pcd" value="$(find hdl_localization)/data/2020-07-04-15-08-01.pcd" /-->
      <param name="globalmap_pcd" value="$(arg map)"/>
      
      <param name="downsample_resolution" value="0.1" />
    </node>

    <!-- hdl_localization_nodelet -->
    <node pkg="nodelet" type="nodelet" name="hdl_localization_nodelet" args="load hdl_localization/HdlLocalizationNodelet $(arg nodelet_manager)">
        <param name="points_topic" value="/floor_detection/floor_filtered_points"/>
        <remap from="/gpsimu_driver/imu_data" to="$(arg imu_topic)" />
        <!-- odometry frame_id -->
        <param name="odom_child_frame_id" value="$(arg odom_child_frame_id)" />
        <!-- imu settings -->
        <!-- during "cool_time", imu inputs are ignored -->
        <param name="use_imu" value="false" />
        <param name="invert_imu" value="true" />
        <param name="cool_time_duration" value="2.0" />
        <!-- ndt settings -->
        <!-- if NDT is slow for your PC, try DIRECT1 serach method, which is a bit unstable but extremely fast -->
        <param name="ndt_neighbor_search_method" value="DIRECT7" />
        <param name="ndt_resolution" value="1.0" />
        <param name="downsample_resolution" value="0.0" />
        <!-- if "specify_init_pose" is true, pose estimator will be initialized with the following params -->
        <!-- otherwise, you need to input an initial pose with "2D Pose Estimate" on rviz" -->
        <param name="specify_init_pose" value="true" />
        <param name="init_pos_x" value="0.0" />
        <param name="init_pos_y" value="0.0" />
        <param name="init_pos_z" value="0.0" />
        <param name="init_ori_w" value="1.0" />
        <param name="init_ori_x" value="0.0" />
        <param name="init_ori_y" value="0.0" />
        <param name="init_ori_z" value="0.0" />
    </node>
</launch>
