<?xml version="1.0"?>
<launch>
	
	<arg name="map_in_world" />
	<arg name="out_file_prefix" />
	<node pkg="hdl_localization" type="record_gps_slam_odom_node" name="record_gps_slam_odom_node" output="screen">
		<param name="gps_odom_topic" value="/gps_odom" />
		<param name="slam_odom_topic" value="/odom" />
		<param name="map_in_world_file" value="$(arg map_in_world)"/>
		<param name="out_file_prefix" value="$(arg out_file_prefix)"/>
		
		
	</node>
    
 </launch>
