<!-- -->
<launch>
	<arg name="nodelet_manager" default="slam_nodelet_manager" />
	<arg name="points_topic" default="/pandar_points" />
	
	<!-- node pkg="tf" type="static_transform_publisher" name="lidar_frame_publisher" args="0 0 0.81 1.5707963 0 0 base_link pandar 100" /-->
	<param name="use_sim_time" value="true"/>
	<node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager)" args="manager" output="screen"/>
	
	<node pkg="nodelet" type="nodelet" name="prefiltering_nodelet" args="load hdl_graph_slam/PrefilteringNodelet $(arg nodelet_manager)">
		<param name="raw_points_topic" value="$(arg points_topic)" />
		<!-- in case base_link_frame is blank, mapping will be performed in the lidar frame -->
		<param name="base_link_frame" value="base_link" />
		<!-- distance filter -->
		<param name="use_distance_filter" value="true" />
		<param name="distance_near_thresh" value="0.5" />
		<param name="distance_far_thresh" value="50.0" />
		<!-- NONE, VOXELGRID, or APPROX_VOXELGRID -->
		<param name="downsample_method" value="VOXELGRID" />
		<param name="downsample_resolution" value="0.1" />
		
		<param name="use_outlier_filter" value="false" />
		<!-- NONE, RADIUS, or STATISTICAL -->
		<param name="outlier_removal_method" value="None" />
		<param name="statistical_mean_k" value="30" />
		<param name="statistical_stddev" value="1.2" />  <!-- stddev_mul_thresh -->
		<param name="radius_radius" value="0.5" />
		<param name="radius_min_neighbors" value="10" />
	</node>



</launch>
