<?xml version="1.0"?>
<launch>
  <!-- arguments -->
  <arg name="nodelet_manager" default="slam_nodelet_manager" />
  <arg name="enable_floor_detection" default="true" />
  
  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager)" args="manager" output="screen"/>
  
  <node pkg="nodelet" type="nodelet" name="floor_detection_nodelet" args="load hdl_graph_slam/FloorDetectionNodelet $(arg nodelet_manager)" if="$(arg enable_floor_detection)">
<!--    <param name="points_topic" value="/prefiltering/filtered_points"/>-->
    <param name="points_topic" value="/velodyne_points"/>
    <param name="tilt_deg" value="0.1" />
    <param name="sensor_height" value="0.0" />
    <param name="height_clip_range" value="0.2" />
    <param name="floor_pts_thresh" value="100" />
    <param name="use_normal_filtering" value="true"/>
    <param name="normal_filter_thresh" value="20.0"/>
    <param name="floor_dis_thresh" value="0.25"/>
  </node>

</launch>
