<!-- -->
<launch>

	<param name="use_sim_time" value="false"/>
	
	<arg name="bagFile" value="/home/wuconglei/wendao/PointCloud_bag/xingzhenglou.bag"/>
	
	<node pkg="rosbag" type="play" name="rosbag" args="-r 0.1 $(arg bagFile)" output="screen">
		<remap from="/pandar_points" to="/raw_points"/>
	</node>
	
	<node name="convert_point_cloud_node" pkg="convert_point_cloud" type="convert_point_cloud_node">
		<param name="in_topic_name" value="/raw_points"/>
		<param name="out_topic_name" value="/velodyne_points"/>
		<param name="frame_id" value="velodyne"/>
	</node>

</launch>
