<!-- -->
<launch>

	<!-- param name="use_sim_time" value="false"/-->
	
	<arg name="bagFile"/>
	
	
	<node pkg="rosbag" type="play" name="rosbag" args="-r 1 -l $(arg bagFile)" output="screen">
		<remap from="/gps_odom" to="/odom_gps"/>
		<remap from="/ll2utm_odom" to="/odom_gps"/>
		
	</node>
	
	<node name="convert_point_cloud_node" pkg="message_convert" type="convert_point_cloud_node">
		<param name="in_topic_name" value="/pandar_points"/>
		<param name="out_topic_name" value="/velodyne_points"/>
		<param name="frame_id" value="velodyne"/>
	</node>
	
	<node name="convert_others_node" pkg="message_convert" type="convert_others_node">
		<param name="in_topic_utm" value="/odom_gps"/>
		<param name="out_topic_utm" value="/gps_odom"/>
		<param name="is_sub_utm" value="false"/>
	</node>

</launch>
